body {
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 10% 1fr 1fr 1fr 10%;
	grid-template-areas: 
	"navbar navbar navbar navbar navbar"
	". carousel carousel carousel ."
	". faq faq faq ."
	". about about about ."
	". contact contact contact ."
	". . register . ."
	"footer footer footer footer footer";
}

.navbar {
	grid-area: navbar;
	background-color: lightblue;
}

.carousel {
	grid-area: carousel;
	background-color: lightblue;	
}

.faq {
	grid-area: faq;
	background-color: lightblue;
}

.about {
	grid-area: about;
	background-color: lightblue;
}

.contact {
	grid-area: contact;
	background-color: lightblue;
}

.register {
	grid-area: register;
	background-color: lightblue;
}

.footer {
	grid-area: footer;
	background-color: lightblue;
}